.calc {
    width: 320px;
    justify-content: center;
    align-items: center;
    float: none;
    margin: 0 auto;
}

#answer {
    background: rgb(165, 162, 215);
    background: linear-gradient(90deg, rgba(165, 162, 215, 1) 0%, rgba(250, 0, 255, 1) 100%, rgba(9, 38, 121, 1) 100%);
    padding: 10px;
    font-size: 35px;
    width: 320px;
    height: 50px;
    text-align: right;
    border: 3px solid #333;
}

.button {
    background: #492B84;
    background: -webkit-linear-gradient(top left, #492B84, #C56CDE);
    background: -moz-linear-gradient(top left, #492B84, #C56CDE);
    background: linear-gradient(to bottom right, #492B84, #C56CDE);
    height: 70px;
    width: 80px;
    color: white;
    font-size: 30px;
    border: 1px solid black;
    float: left;
}

.button1 {
    width: 160px;
}

#history {
    width: 320spx;
    height: 190px;
    font-size: 0.1em+;
    background: white;
    border: 1px solid;
}

#history::-webkit-scrollbar {
    width: 0;
}

#history p:last-child {
    font-size: 0.9em;
    font-weight: 200;
    color: darkred;
}